<%= stylesheet_link_tag "header" %>
<%= csrf_meta_tags %>
<!-- rending headers for different views -->
<!-- On page navbar2 -->
<div class="pageNavBar">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#" style="color: white;">Personal Goals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goals" style="color: white;">Group Goals</a>
  </li>
</ul>


</div>

<div class="pageDescription">

<div class="pageDescriptionContent">



  <!-- Krupa put ur code here -->
  <% if params[:action] == 'about' %>
  <h1>
    THE GOAL FUNDER
  </h1>
  <p>
    Learn more about us, the team and the different services we provide.
  </p>

  <% else params[:action] == 'groupGoal' %>
  <div class ="desc-container">
  <h1>
    Group Goals
  </h1>
  <p>
    This section of displays the contains information about how much you have saved towards a certain goal. <br> Such as your Recipts towards a goal, a list of your personal goals and deadline
    towards the goal. This <br>information is essential to keeping track of your progress.
  </p>
  </div>

  <div class ="btn-container">
  	<button type="button" class="btn btn-desc" style="margin-top: 2%;"> More Info</button>
    <br>
    <button type="button" class="btn btn-desc"> More Info</button>
    </div>


  <% end %>

</div>

</div>
