<%-         #   This is the About Us page       #          -%>
<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'goals' %>
  <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

</head>

<div id ="content" class="container-fluid" style="margin-top: 6%;">
<body >

  <div class="row">

    <! left side of Row ->
    <div class="col-md-6">
		<div class="box_wide">
      <br>
			<h1 class="text-center" style="font-size: 60px">
				Why Us
			</h1>
      <p style="font-size: 20px;">Lean more about us and the services we provide
      </p>
		</div>
    </div>

    <!- right side of Row ->
    <div class="col-md-6">
		<div class="box_wide">
      <div class="container">
        <br>
        <h1 class="text-center" style="font-size: 60px">
          Contact Us
        </h1>
        <p style="font-size: 20px;">Click <a href="/contact">here</a> if you want to send us a question!
        </p>
      </div>
		</div>
    </div>
	</div>
<br><br><br>
<!- second row ->
  <div class="row">
  		<div class="col-md-12">
        <div class="box_wide"><br>
            <h1 class="text-center" style="font-size: 60px">
              Meet the Team
            </h1>
            <p style="font-size: 20px;">Find out about the developers
            </p>
        </div>
      </div>
  </div>
</div>

</body>
</html>
