<%-         #   This is the About Us page       #          -%>
<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

</head>

<h1 class="text-center">About The Goal Funder</h1>

<body>

  <div class="row">

    <! left side of Row ->
    <div class="col-md-6">
		<div class="box_wide">
			<h2 class="text-center">
				Why Us
			</h2>
      <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed do eiusmod...
      </p>
		</div>
    </div>

    <!- right side of Row ->
    <div class="col-md-6">
		<div class="box_wide">
      <div class="container">
        <h2 class="text-center">
          Contact Us
        </h2>
        <p>Click <a href="/contact">here</a> if you want to send us a question!
        </p>
      </div>
		</div>
    </div>
	</div>

<!- second row ->
  <div class="row">
  		<div class="col-md-12">
        <div class="box_wide">
            <h2 class="text-center">
              Meet the Team
            </h2>
            <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed do eiusmod...
            </p>
        </div>
      </div>
  </div>


</body>
</html>
