<%-         #   This is the Dashboard       #          -%>
<html lang="en"><head>
  <meta charset="UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


  <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


</head>

<body  class="Dashboard" >

<div id ="content" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <!- first box begins here ->
      <div class="box_wide">
			<div class="row">

				<div class="col-md-4">

          <!- month and Year ->
          <h3>
          <br><br>
          <h1 class="theDate" id=date></h1>
          <br><br><br>
					</h3>


				</div>
				<div class="col-md-8">
					<h3>
					group name
					</h3>
				</div>
        </div>
			</div>
		</div>
	</div>

  <!- Second Row ->
	<div class="row">

    <! left side of Row ->
    <div class="col-md-4">
		<div class="box_square">
			<h1 class="text">
			Money Saved <br>
			</h1>
      <svg class="progress-ring">

                <circle
                  class="progress-ring__circle"
                  r= "120">
              </svg>

              <BR>
			<button type="button" class="btn btn-success" style="margin: 5%">
				view more
			</button>

		</div>
    </div>

    <!- right side of Row ->
    <div class="col-md-8">


 <div class="box_square2">
      <div class="chart-container">
                <chartjs class="chartjs-hidden-iframe" tabindex="-1" ></chartjs>
                <canvas id="myChart"  width="1140" height="700" class="chart-dm"></canvas></div>

              </div>

    </div>
	</div>
</div>

</body>
  </html>
  <input
  value="85"
  type="number"
  step="5"
  min="0"
  max="100"
  style="color: black"
></input
