<<<<<<< HEAD
<head>
  <style media="screen">
    .sape{
      position: absolute;
      top:0;
      right:0;
      z-index: -1;
    }
  </style>
</head>

  <div class="sape">
    <h1>Home#index</h1>
    <p class="container-fluid" >Find me in app/views/home/index.html.erb</p>
  </div>
=======
<%-         #   This is the Dashboard       #          -%>
<br>
<html >
  <body class="Dashboard" >
    <div class="container-fluid">
  	<div class="row">
      <div class="box_wide">
  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-6">
            <br>
            <br>
            <br>
              <h1 style="text-align: center"> March 2020 </h1>
              <br>
              <br>
              <br>


  				</div>
  				<div class="col-md-6">
            <br>
            <br>
            <br>
  					<h1> < group name > </h1>
            <br>
            <br>
            <br>
  				</div>
          </div>
  			</div>
  		</div>

  	</div>

  	<div class="row">
  		<div style="margin-left: 14%"class="col-md-3">
        <div class="box_square">
  			<div class="row">
  				<div class="col-md-12">
  					<div class="btn-group" role="group">

  					<h1> savings group </h1>
  					</div>
  				</div>
  			</div>
  			<h2>
  				amount
  			</h2>
  	     <h2>
           /saved
           <h2>
  			<div class="row">
  				<div class="col-md-12">
  					<h1>

                <a class="btn" href="#">More Info »</a
  					</h1>

  				</div>
  			</div>
        </div>


  			<div class="row">
  				<div class="col-md-12">
  				</div>
  			</div>
  		</div>

  		<div  style="padding-right: 4%"class="col-md-6">
  <div class="box_square2">
  		<h1> savings group </h1>
  			<p>
  				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  			</p>
  			<p>
  				<a class="btn" href="#">View details »</a></div>
  			</p>

  		</div>



    </div>
    </html>
>>>>>>> 7e355f72f2980a999faa4c0c5f210d89be11c81f
