<%-         #   This is the Dashboard       #          -%>
<html lang="en"><head>
  <meta charset="UTF-8">
  <style media="screen">
    .content{
      position: absolute;
      top:80px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


  <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


</head>

<body  class="Dashboard" >
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <!- first box begins here ->
      <div class="box_wide">
			<div class="row">

				<div class="col-md-3">

          <!- month and Year ->
          <h3>
          <br><br>
          <h1 class="theDate" id=date style=""></h1>
          <br><br><br>
					</h3>


				</div>
				<div class="col-md-9">
					<h3>
					group name
					</h3>
				</div>
        </div>
			</div>
		</div>
	</div>

  <!- Second Row ->
	<div class="row">

    <! left side of Row ->
    <div class="col-md-3">
		<div class="box_square">
			<h3 class="text-center">
				Saving Team
			</h3>
      <svg
                class="progress-ring"
                width="400"
                height="400"
                margin-left= "200%">

                <circle
                  class="progress-ring__circle"
                  stroke="white"
                  stroke-width="4"
                  fill="transparent"
                  r="90"
                  cx="120"
                  cy="120"
                  />
              </svg>

              <input
              value="35"
              type="number"
              step="5"
              min="0"
              max="100"
              style="color: black"
            ></input>
			<button type="button" class="btn btn-success">
				view more buttonn
			</button>
		</div>
    </div>

    <!- right side of Row ->
    <div class="col-md-9">
		<div class="box_square2">
      <div class="chart-container">
                <chartjs class="chartjs-hidden-iframe" tabindex="-1" ></chartjs>
                <canvas id="myChart"  width="1140" height="700" class="chart-dm"></canvas></div>
		</div>
    </div>
	</div>
</div>

</body>
  </html>
