
<% stylesheet_link_tag 'application' %>

<div class="container-fluid" id="bubbles" style=" margin-left: 5%; margin-top: 10%;">
    <div class="row">
<!-- your details bubble link -->
      <div class="col-md-3  prev-account-item">
          <a href="/users/edit">
          <div class="row">
              <div class="col-md-3">
               <i class="fa fa-user" id="userpic" ></i>
              </div>
          </div>
          <div class="row" >
              <div class="col-md-9" id ="textAcc">
                  <h5><strong>Your details</strong></h5>
                  Your personal information

              </div>
          </div>
          </a>
      </div>

<!-- your details bubble link -->
      <div class="col-md-3  prev-account-item">
          <a href="/payments/all">
          <div class="row">
              <div class="col-md-3">
               <i class="fa fa-university"></i>
              </div>
          </div>
          <div class="row" >
              <div class="col-md-9" id ="accPaymentHistory">
                  <h5><strong>Your payments</strong></h5>
                  View your transactions
              </div>
          </div>
          </a>
      </div>
<!-- your details bubble link -->
      <div class="col-md-3  prev-account-item">
          <a href="#">
          <div class="row">
              <div class="col-md-3">
               <i class="fa fa-lock"></i>
              </div>
          </div>
          <div class="row" >
              <div class="col-md-12" id ="textAcc">
                  <h5><strong>Account and security</strong></h5>
                  Account and security options

              </div>
          </div>
          </a>
      </div>

<!-- your details bubble link -->
      <div class="col-md-2  prev-account-item">
          <a href="/home/privacy_statement">
          <div class="row">
              <div class="col-md-3">
               <i class="fa fa-paste"></i>
              </div>
          </div>
          <div class="row" >
              <div class="col-md-4" id ="textAcc">
                  <h5><strong>Privacy</strong></h5>
              </div>
            </div>
          <div class="row" >
              <div class="col-md-12" id ="textAcc">
                  T&C and your data
              </div>
          </div>
          </a>
      </div>
</div>
</div>