@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


$color1: #263648;
$color2: #bdc6d1;
$color3: #f7f7f8;
$color4: #a9b8c2;
$color5: #bfe5ff;

body {
    font-family: 'Poppins', sans-serif;

  //  background-color: rgba(67, 67, 67, 0.5);
}
navbar {
  background: url(sky);
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    padding-left: -5%;
    //color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
      background-color:rgba(38, 54, 72, 0.8);
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color:rgba(38, 54, 72, 0.9);
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #33417a;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


.wrapper {
    display: flex;
    width: 20%;
    align-items: stretch;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



.nav{
  margin: 3px auto;
  margin-left: 17%;

}
.pageNavBar{
  background-color: $color1;
  float: left;
   border: 1px solid #121314;
   border-top: 1px solid #2b2e30;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 0px;
   overflow: hidden;
   width:100%;
   min-width: 650px;
   position: relative;
   color: white;
}

.pageDescriptionContent{
    margin: 20px auto;
    margin-left: 17%;
    padding-bottom: 5px auto;
    text-align: left;
    height: 100%;
}

.pageDescription{
//  height: 400px ;
float: left;
}

.desc-container{
text-align: left;
width: 950px;
float: left;
//border: solid blue;
}

.btn-container{
float: left;
width: 12%;
margin: 1%;
//border: solid red;
}


.btn-desc  {
  color:#000000;
  background: $color5;
  border-width:2px;
  border-color: #454545;
  margin: 12px auto;
  width: 100%;
    //display:inline-block;
  padding:0.5em 1em;
  transition:all 0.3s ease-in-out;
  text-align:center;
font-weight:bold;
}

.btn-desc:before, .btn-desc:after {content:'';display:block;position:absolute;border-color:#FFFF;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
.btn-desc:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
.btn-desc:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
.btn-desc:hover {color:#353535;background-color:#fff;border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}
